/* MEDIA QUERIE min-width 793px */

/* HEADER */
.nav-list__item{
    margin: 0;
}
.nav-list__item:not(:last-child){
    margin-right: 2rem;
}

/* FOOTER */
.footer-top{
    text-align: left;
}

.footer-top__item{
    margin-left: 2rem;
}

.footer-bottom__item{
    margin: 0;
}